*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: anekBold;
    src: url("/assets/fonts/Anek_Bangla/static/AnekBangla/AnekBangla-Bold.ttf");
}
@font-face {
    font-family: anekExtraBold;
    src: url("/assets/fonts/Anek_Bangla/static/AnekBangla/AnekBangla-ExtraBold.ttf");
}
@font-face {
    font-family: anekSemiBold;
    src: url("/assets/fonts/Anek_Bangla/static/AnekBangla/AnekBangla-SemiBold.ttf");
}
@font-face {
    font-family: anekThin;
    src: url("/assets/fonts/Anek_Bangla/static/AnekBangla/AnekBangla-Thin.ttf");
}
@font-face {
    font-family: anekRegular;
    src: url("/assets/fonts/Anek_Bangla/static/AnekBangla/AnekBangla-Regular.ttf");
}
@font-face {
    font-family: anekMedium;
    src: url("/assets/fonts/Anek_Bangla/static/AnekBangla/AnekBangla-Medium.ttf");
}
@font-face {
    font-family: anekLight;
    src: url("/assets/fonts/Anek_Bangla/static/AnekBangla/AnekBangla-Light.ttf");
}
@font-face {
    font-family: anekExtraLight;
    src: url("/assets/fonts/Anek_Bangla/static/AnekBangla/AnekBangla-ExtraLight.ttf");
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 25px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
}

.logo{
    font-size: 3rem;
    font-family: anekBold;
    color: #FF735C;
}

.nav-elements{
    width: 40%;
    padding: 5px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    font-family: anekMedium;
    cursor: pointer;
}
.nav-elements > p {
    border-radius: 25px;
    padding: 3px 20px;
    color: #333;
}

.home{
    background-color: #FF735C;
    color: #333;
}

.element:hover {
    background-color: #ff725c6b;
    transition: 0.5s;
}

.user{
    width: 50px;
}

.store-image{
    margin: auto;
    width: 90vw;
}

.products-wrapper{
    width: 100vw;
    padding: 0 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    transform-style: preserve-3d;
}


.product-card{
    min-width: 300px;
    min-height: 400px;
    max-width: 300px;
    max-height: 400px;
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: anekRegular;
    color: #333;
    box-shadow: 0 0 10px;
    border: #333 solid 2px;
    border-radius: 20px;
}

.product-image{
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    height: 60%;
    display: flex;
    border: #333 solid 2px;
}

.product-content{
    height: 40%;
    width: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-info{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.product-options{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.product-option{
    padding: 10px;
    background-color: #FF735C;
    color: white;
    border-radius: 20px;
    font-family: anekRegular;
}


